# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env

# Ignore other common files
.DS_Store
.idea/
.vscode/

# Ignore the build and distribution folders (for packaging)
build/
dist/
*.egg-info/
